@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --hero-bg: url("./images/hero-bg.jpg");
    --menu-bg: url(./images/menu-bg.jpg);

    --fallback-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-font-family: "Roboto";

    /* palette */
    --black: #000000;
    --oxford-blue: #14213D;
    --web-orange: #FCA311;
    --platinum: #E5E5E5;
    --white: #FFFFFF;
}

body {
    font-family: var(--main-font-family), var(--fallback-font);
}

.cursor {
    cursor: pointer;
}

/* header */
.header-container {
    background-color: var(--oxford-blue);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 1px solid var(--platinum);
}

.header-img:hover {
    transform: scale(1.2);
}

.nav-btn {
    border: none;
    background-color: var(--oxford-blue);
    margin: 15px;
    font-size: 1.8rem;
    color: var(--platinum);
}

.nav-btn:after {
    transition: all ease-in-out .5s;
    background-color: var(--web-orange);
    content: "";
    display: block;
    height: 3px;
    width: 0;
}

.nav-btn:hover:after {
    width: 100%;
}

/* homepage hero section */
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--hero-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.hero-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    text-align: center;
    padding: 20px;
}

.hero-heading {
    font-size: 3.8rem;
}

.hero-para {
    line-height: 1.6rem;
    font-size: 1.2rem;
}

.hero-order-btn {
    border: 3px solid var(--web-orange);
    border-radius: 6px;
    background-color: var(--web-orange);
    padding: 14px 28px;
    font-size: 1rem;
    color: var(--white);
    margin-top: 12px;
}

.hero-order-btn:hover {
    background-color: var(--white);
    color: var(--web-orange);
}

/* menu page section*/
.menu-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), var(--menu-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0 15px;
}

.menu-heading {
    color: var(--white);
    font-size: 2.5rem;
    padding: 20px;
    text-align: center;
}

.menu-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 30px;
    font-size: 1.3rem;
}

.menu-card {
    background: linear-gradient(to right, var(--platinum) 70%, var(--web-orange) 100%);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "image title" "body body";
    gap: 5px;
    padding: 20px;
    border-radius: 12px;
}

.menu-card-img {
    width: 170px;
    height: 120px;
    border-radius: 20px;
}

.menu-card-img:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px var(--oxford-blue);
}

.menu-card-price {
    font-size: 1.4rem;
    text-decoration: underline var(--web-orange);
    text-decoration-skip-ink: none;
    display: block;
    margin-top: 10px;
}

.menu-card-body {
    grid-area: body;
}

/* about page section*/
.aboutSection {
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container {
    width: 60vw;
    height: 80vh;
    background-color: var(--platinum);
    text-align: center;
    line-height: 1.3;
    padding: 18px;
}

.about-heading {
    border-bottom: 4px solid var(--web-orange);
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-size: 4rem;
}

/* contact page section*/
.contact-section {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5vh 20px;
}

.contact-addr-title,
.contact-us-title {
    font-size: 3.5rem;
    text-decoration: underline 3px var(--web-orange);
    text-underline-offset: 8px;
}

.contact-address,
.contact-open-time {
    white-space: pre;
    padding: 12px 0;
    font-size: 1.2rem;
}

.contact-map {
    width: 45vw;
    max-height: 50vh;
    box-shadow: 2px 2px 1px 1px var(--platinum);
}

.contact-form {
    padding: 60px 20px 0;
}

.input-field {
    display: block;
    line-height: 3;
    width: 70%;
    margin-bottom: 20px;
}

.input-field:focus {
    background-color: var(--platinum);
    border-color: var(--black);
}

.contact-form button {
    padding: 10px 20px;
    letter-spacing: 2px;
    box-shadow: 2px 2px 1px 1px var(--platinum);
}

.contact-form button:hover {
    background: var(--oxford-blue);
    color: var(--white);
}

/* footer section*/
footer {
    background-color: var(--oxford-blue);
    color: var(--white);
    font-size: 1.3rem;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.github-icon {
    height: 30px;
    width: 30px;
}

.github-icon:hover {
    transform: scale(1.2) rotate(180deg);
}